.lead__menu {    
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
    padding: 5px 10px;
    font-size: 11px;
}

@media all and (max-width: 1024px) {
    .lead__menu{        
    padding: 5px 10px;
    }
}

@media all and (max-width: 768px) {
    .lead__menu {        
    padding: 9px 10px;
    }
}

@media all and (max-width: 425px) {
    .lead__menu {
        
    padding: 5px 10px;
    }
}