.header__lang {    
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    padding: 0;
    right: 0;
}

@media (max-width: 320px) {
    .header__lang {
        margin: 14px 0 0;
    }
}
form {       
    display: flex;
    flex-direction: row;    
    width: 100%;
}