.lead {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;    
    padding: 4px 7px 9px;  
}

@media screen and (max-width: 1280px) {
    .lead{
        width: 92.5%;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        width: 90.625%;
    }
}

@media screen and (max-width: 768px) {
    .lead{
        width: 93.75%;
    }
}

@media screen and (max-width: 750px) {
    .lead{
        flex-direction: column;
        padding: 64px 0 24px;
    }
}

@media screen and (max-width: 750px) {
    .lead {
        margin: 0 16px;
    }
}